@using Microsoft.AspNetCore.Components.Authorization


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
           <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<Authorizing>
					<div class="auth-loading">
						<p>Autenticando...</p>
					</div>
				</Authorizing>
                <NotAuthorized Context="authContext">
                    @if (!authContext.User.Identity?.IsAuthenticated ?? false)
                    {
						

						<Sistema_de_Seguimiento_de_Solicitudes.Services.RedirectToLogin />
                    }
                    else
                    {
						<p>No tienes permiso para acceder a esta página.</p>
						
                    }
                </NotAuthorized>
            </AuthorizeRouteView>


            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Lo sentimos, no se encontró esa dirección.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
